body
{
	background-image:url('https://parksrecreation.files.wordpress.com/2012/10/i-believe.jpg');
	background-attachment:fixed;
	background-position:bottom center;
	background-repeat:no-repeat;	
	background-size:75%;
}

#main
{
	width:80%;
	border:1px solid blue;
	margin-left:auto;
	margin-right:auto;
}

#nested
{
	margin-left:auto;
	margin-right:auto;		
	border:1px solid red;
	width:95%;
	height:111%;
	}

#menu
{
	width:100%;	
	border:1px solid black;
	background-color:#FACEB0;
	margin-bottom:20px;
}

a:hover
{
	color:red;
	background-color:yellow;
	border:2px dashed lightblue;	
}

#Table_Control_Menu
{
	width:90%;
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	empty-cells:show;
	caption-side:bottom;
	table-layout:fixed;
	border-spacing: 5px 15px;
}

table, td
{
	border:1px solid black;
}


.right
{

	float:right;
}

#footer
{
	margin-top:15px;
	width:100%;	
	border:1px solid black;
}

#first_cell
{
	width:100%;
	background-color:lightblue;
	border: 0px;
}

#list
{
	padding-right: 10px;
}

.border
{
	border:1px dashed black;
}